$blue: rgb(16, 142, 233);
.wraper {
    width: 60%;
    margin: 20px auto 20px;
    .TodosHeader {
        h2 {
            margin: 30px 0 16px;
            color: red;
            font-family: 'Weibei TC';
            text-align: center;
        }
        .welcome {
            float: left;
            line-height: 32px;
        }
        .signOut {
            float: right;
            padding: 0px 8px;
        }
        .signInBox {
            position: absolute;
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, .4);
            z-index: 1;
            left: 0;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            .container {
                background: #fff;
                position: relative;
                width: 400px;
                border-radius: 5px;
                .ant-input {
                    display: block;
                    width: 80%;
                    margin: 40px auto 20px;
                }
                .closeBtn {
                    position: absolute;
                    top: 7px;
                    right: 7px;
                    border: none;
                    background: transparent;
                }
                .footer {
                    display: flex;
                    justify-content: center;
                    margin-bottom: 30px;
                    button {
                        margin: 0 20px;
                    }
                }
            }
        }
    }
    .unSignIn {
        text-align: center;
        margin-top: 10px;
    }
    .todosMain {
        .todoInput {

            width: 100%;
            margin: 16px 0;
        }
        .todoEmpty {
            text-align: center;
        }
        .todosItems {
            padding: 0;
            li {
                list-style: none;
                position: relative;
                &>div:first-of-type {
                    padding: 3px;
                    position: relative;
                    .time {
                        display: inline-block;
                        margin: 0px 0 0 10px;
                    }
                    .ant-btn {
                        position: absolute;
                        right: 0;
                        top: 2px;
                        height: 29px;
                        display: none;
                    }
                }

                .content {
                    padding: 5px 0 10px 0;
                    box-sizing: border-box;
                    width: 100%;
                    font-size: 16px;
                    margin: 0;
                    word-wrap: break-word;
                    word-break: break-all;
                    overflow: hidden;
                }
            }
        }
    }
    .todosFooter {
        
        padding: 3px;
        display: flex;
        justify-content: space-between;
        &>span:first-of-type {
            .selectAll {
                margin-left: 10px;
            }
        }
    }
}

.clearfix {
    &::after,
    &::before {
        content: "";
        display: table;
    }
    &::after {
        clear: both;
    }
}